/* Document
========================================================================== */

html {
    font-size: 100%;
    line-height: 1.15;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/* Global Box Sizing
========================================================================== */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Sections
========================================================================== */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    line-height: 1.5;
    font-family: "Inter", system-ui, -apple-system, Avenir, Helvetica, Arial,
        sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-white);
    color: var(--color-text-dark);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Typography
========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
dl,
dd,
figure,
blockquote,
button,
input,
textarea,
select {
    margin: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    color: var(--color-heading-dark);
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Heading", system-ui, sans-serif;
    overflow-wrap: break-word;
}

h1 {
    font-size: var(--fs-2xl);
    text-transform: capitalize;
}

h2 {
    font-size: var(--fs-xl);
    text-transform: capitalize;
}

h3 {
    font-size: var(--fs-md);
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Lists
========================================================================== */

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

/* Links
========================================================================== */

a {
    background-color: transparent; /* Good reset for backgrounds */
}

a[class] {
    text-decoration: none;
}

a:not([class]) {
    color: currentColor;
    text-decoration-skip-ink: auto;
}

/* Media
========================================================================== */

img,
picture,
video {
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
    vertical-align: middle;
}
/* Forms
========================================================================== */

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    min-height: 6em;
    resize: vertical;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: none; /* Use 'none' to reset */
    appearance: none; /* Use 'none' to reset */
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* This one usually benefits from keeping native appearance */
    font: inherit;
}

progress {
    vertical-align: baseline;
}

/* Dividers
========================================================================== */

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* Scroll Behavior
========================================================================== */

:target {
    scroll-margin-top: 2rem;
}

/* Website specific style
========================================================================== */
section {
    z-index: 1;
}
.container {
    display: flex;
    flex-flow: column;
    max-width: 1200px;
    padding-inline: var(--space-sm);
    width: 100%;
    margin-inline: auto;
}

.btn {
    --icon-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 15px 10px 30px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    gap: 10px;
    &__icon {
        font-size: var(--icon-size);
        line-height: var(--icon-size);
        padding: 8px;
        border-radius: 100px;
    }
    &--primary {
        background-color: var(--color-primary);
        color: var(--color-heading-white);
        .btn__icon {
            color: var(--color-primary);
            background-color: white;
        }
    }

    &--secondary {
        color: var(--color-heading-dark);
        background-color: var(--color-white);
        .btn__icon {
            color: var(--color-white);
            background-color: var(--color-primary);
        }
    }
}

.colored-text {
    color: var(--color-primary);
}
