<footer id="footer" class="footer">
    <div class="footer__container container">
        <h2 class="footer__heading">Lets work together</h2>
        <div class="footer__logo">Justica Pravena</div>
        <ul class="footer__social" role="list">
            <li class="footer__social-item">
                <a
                    href="https://facebook.com/yourpage"
                    class="footer__social-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow us on Facebook"
                >
                    <span class="ri-facebook-fill" aria-hidden="true"></span>
                </a>
            </li>
            <li class="footer__social-item">
                <a
                    href="https://facebook.com/yourpage"
                    class="footer__social-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow me on instagram"
                >
                    <i class="ri-instagram-fill" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer__social-item">
                <a
                    href="https://facebook.com/yourpage"
                    class="footer__social-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow me on linkedin"
                >
                    <i class="ri-linkedin-fill" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer__social-item">
                <a
                    href="https://facebook.com/yourpage"
                    class="footer__social-link"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Follow me on x"
                >
                    <i class="ri-twitter-x-line" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="footer__divider divider"></div>
        <ul class="footer__menu">
            <li class="footer__menu-item">
                <a href="/" class="footer__menu-link">Home</a>
            </li>
            <li class="footer__menu-item">
                <a href="/" class="footer__menu-link">About</a>
            </li>
            <li class="footer__menu-item">
                <a href="/" class="footer__menu-link">Service</a>
            </li>
            <li class="footer__menu-item">
                <a href="/" class="footer__menu-link">Faq</a>
            </li>
            <li class="footer__menu-item">
                <a href="/" class="footer__menu-link">Contact</a>
            </li>
        </ul>
        <p class="footer__copyright">&copy; 2025 All rights reserved.</p>
    </div>
</footer>
